$silver: #95989A;
$navTextColor: #474B4F;
$blackSilver: #222629;
$lightGreen: #86C232;
$darkGreen: #61892F;
$thinSilver: #5A5D5E;
$thinnestSilver: #CACBC9;
$yellow: #E0EE1E;
$mainGreen: #32C296;
$darkerGreen: #5AB297;
$brightGreen: #1AEFAE;
$orangeRocketCircle: #E0995E;
$silverCircle: #E0E0D1;
$projectsSection: #E7EBE7;
$lighterGreen: #81E3C6;
$buttonColor: #0AB984;
